project_id = "iavbnmduxpxhwubqrzzn"

[functions.enroll-agent]
verify_jwt = false

[functions.create-job]
verify_jwt = true

[functions.poll-jobs]
verify_jwt = false

[functions.ack-job]
verify_jwt = false

[functions.upload-report]
verify_jwt = false

[functions.test-virustotal-integration]
verify_jwt = true

[functions.test-stripe-integration]
verify_jwt = true

[functions.test-webhook]
verify_jwt = true

[functions.list-users]
verify_jwt = true

[functions.update-user-status]
verify_jwt = true

[functions.list-reports]
verify_jwt = false

[functions.generate-enrollment-key]
verify_jwt = true

[functions.send-alert-email]
verify_jwt = true

[functions.analyze-network-anomalies]
verify_jwt = true

[functions.scan-virus]
verify_jwt = false

[functions.send-invite]
verify_jwt = true

[functions.accept-invite]
verify_jwt = true
